<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
               xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
               xmlns:aop="http://www.springframework.org/schema/aop"
               xsi:schemaLocation="http://www.springframework.org/schema/beans
                http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
                http://www.springframework.org/schema/aop
                http://www.springframework.org/schema/aop/spring-aop-3.2.xsd">
        <aop:aspectj-autoproxy/>
        <bean id="aopXml" class="spring.aop.aspect_xml.AopXml" />
        <bean id="interceptor" class="spring.aop.aspect_xml.AopXmlInterceptor" />
        <aop:config>
                <aop:pointcut id="pointcut" expression="execution(* spring.aop.aspect_xml.AopXml.print(..))"  />
                <!--<aop:advisor advice-ref=""-->
                <aop:aspect id="aopInterceptor" ref="interceptor">
                        <aop:before method="printBeforeMethod"  pointcut-ref="pointcut"/>
                        <aop:after-returning pointcut-ref="pointcut" method="printAfterCode" arg-names="name" returning="name"/>
                        <aop:after pointcut-ref="pointcut" method="printFinallyMethod"/>
                        <aop:around  pointcut="execution(* spring.aop.aspect_xml.AopXml.print(..)) and args(name)" method="printAroundMethod"  />
                </aop:aspect>
        </aop:config>

</beans>